[report]
omit =
    app\database\database.py
    app\auth\decorator.py
    app/util/*
    app/model/__init__.py
    tests/*
    app\__init__.py
    app\database\__init__.py
    app\views\__init__.py
    venv\*
    .vscode
    .pytest_cache
    /home/travis/virtualenv/python3.6.3/*
    app/__init__.py
    app/auth/decorator.py
    app/database/__init__.py
    app/database/database.py
    app/views/__init__.py
    venv
    venv/*
    app/model/*