[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
astroid = "==2.5.3"
flask = "*"
psycopg2 = "*"
pyjwt = "*"
pytest = "*"
pytest-cov = "*"
requests = "*"
twilio = "*"
urllib3 = "*"
validate-email = "*"
gunicorn = "*"
geopy = "*"
flask-swagger-ui = "*"
flask-script = "*"
flask-mail = "*"
flask-cors = "*"
flasgger = "*"
coveralls = "*"
coverage = "*"

[requires]
python_version = "3.7"
